@import url('https://fonts.googleapis.com/css?family=Public+Sans:300,400&display=swap');

$mobile: 375px;
$desktop: 1440px;

$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

body {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: $white;
    height: 80px;
    width: 100%;
    border: 1px solid red;
    .logo {
        margin-left: 11%;
        margin-top: 32px;
    }
    .request-invite {
        float: right;

    }
    .hamburger {
        float: right;
        margin-right: 3%;
        margin-top: 2%;
    }
    .header-links {
        width: 40%;
        
        margin-left: 33%;
        margin-top: -60px;
        
        
    }
    .header-links li {
        display: inline-block;
        padding: 30px 15px;
        font-size: 1rem;
        color: $grayishBlue;
        
        }
        li:hover {
            cursor: pointer;
            color: $darkBlue; 
            border-bottom: 5px solid red;
        }



    
        
        
    }


