@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400&display=swap");
body {
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
}

header {
  background-color: white;
  z-index: 9;
  position: relative;
  width: 100%;
}

header .logo {
  margin-left: 11%;
  margin-top: 32px;
}

header .request-invite {
  float: right;
}

header .hamburger {
  float: right;
  margin-right: 3%;
  margin-top: 2%;
  display: none;
}

header .header-links {
  width: 40%;
  margin-left: 33%;
  margin-top: -60px;
}

header .header-links li {
  display: inline-block;
  padding: 30px 15px;
  font-size: 1rem;
  color: #9698a6;
}

header li:hover {
  cursor: pointer;
  color: #2d314d;
}

header li:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 5px;
  margin-top: 25px;
  margin-left: -5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), color-stop(60%), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, 60%, #2bb7da);
}

header .request-invite {
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), color-stop(60%), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, 60%, #2bb7da);
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  color: white;
  font-size: .9rem;
  margin-right: 12%;
  margin-top: -5%;
}

header .request-invite:hover {
  opacity: .75;
  cursor: pointer;
}

.top {
  background-color: #fafafa;
  margin-top: -1.75%;
  overflow-x: hidden;
  overflow-y: visible;
}

.top img.mobile {
  display: none;
}

.top img.desktop {
  float: right;
  margin-top: -76%;
  margin-right: -30%;
  position: relative;
  z-index: 0;
}

.top img.mockups {
  float: right;
  margin-top: -8%;
  margin-right: -9%;
  position: relative;
  z-index: 1;
}

.top .top-word-box {
  width: 32%;
  float: left;
  margin-top: 10%;
  margin-left: 10%;
}

.top .top-word-box .request-invite {
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), color-stop(60%), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, 60%, #2bb7da);
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  color: white;
  font-size: .9rem;
  margin-right: 12%;
  margin-top: -5%;
}

.top .top-word-box .request-invite:hover {
  opacity: .75;
  cursor: pointer;
}

.top .top-word-box h1 {
  font-size: 3rem;
  color: #2d314d;
}

.top .top-word-box p {
  color: #9698a6;
  margin-bottom: 10%;
}

.middle {
  background-color: #f3f4f6;
  margin-top: -12%;
  padding-bottom: 5%;
}

.middle .middle-word-box {
  line-height: 1.5;
  width: 45%;
  float: left;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
  position: relative;
}

.middle .middle-word-box h2 {
  font-size: 2.25rem;
  font-weight: 400;
}

.middle .middle-word-box p {
  color: #9698a6;
}

.middle .card-box {
  width: 90%;
  height: 300px;
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.middle .card-box .card {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.middle .card-box .card h3 {
  color: #2d314d;
  font-weight: 400;
}

.middle .card-box .card p {
  color: #9698a6;
  font-size: 1rem;
  line-height: 1.5;
}

.bottom {
  background-color: #fafafa;
  margin-top: -2rem;
  padding-bottom: 10%;
}

.bottom h2 {
  margin-left: 10%;
  font-size: 2.25rem;
  float: left;
  margin-top: 5rem;
  color: #2d314d;
  margin-bottom: 5%;
}

.bottom .article-box {
  width: 77%;
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.bottom .article {
  height: 300px;
  margin-right: 30px;
  background-color: white;
  padding-bottom: 9%;
}

.bottom .article img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 200px;
  width: 255px;
}

.bottom .article h4 {
  color: #9698a6;
  font-size: .65rem;
  font-weight: 300;
  margin-left: 2rem;
}

.bottom .article h3 {
  margin-left: 2rem;
  font-weight: 400;
  font-size: .975rem;
  color: #2d314d;
  width: 75%;
}

.bottom .article h3:hover {
  cursor: pointer;
  color: turquoise;
}

.bottom .article p {
  font-size: .75rem;
  color: #9698a6;
  font-weight: 400;
  margin-left: 2rem;
  width: 78%;
  line-height: 1.5;
}

footer {
  background-color: #2d314d;
}

footer img.logo {
  margin-left: 11.5%;
  margin-top: 3.25%;
}

footer .social {
  margin-top: 3.5%;
  margin-left: 11.5%;
}

footer .social img {
  padding-right: 1%;
}

footer .social img:hover {
  -webkit-filter: invert(57%) sepia(92%) saturate(334%) hue-rotate(131deg) brightness(100%) contrast(98%);
          filter: invert(57%) sepia(92%) saturate(334%) hue-rotate(131deg) brightness(100%) contrast(98%);
  cursor: pointer;
}

footer .request-invite {
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), color-stop(60%), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, 60%, #2bb7da);
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  color: white;
  font-size: .9rem;
  float: right;
  margin-top: -19%;
  margin-right: 11.5%;
}

footer .request-invite:hover {
  opacity: .8;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */